name: BUILD
on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'safe to build/test')

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-2
      - name: Setup Node
        uses: actions/setup-node@master
      - name: Setup yarn installing dependencies
        uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build
      - name: Deploy to s3 
        run: aws s3 syc ./dist/ s3://konstantinou --delete
      
      
#   test:
#     needs: [build]
#     runs-on: ubuntu-latest
#   publish:
#     needs: [build, test]
#     runs-on: ubuntu-latest
#   deploy:
#     needs: [build, test, publish]
#     runs-on: ubuntu-latest
